@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marquee-reverse {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Marquee Container */
.animate-marquee-wrapper {
  display: flex;
  width: max-content;
  overflow: hidden;
}

/* Marquee Animation */
.animate-marquee {
  display: flex;
  gap: 1.5rem;
  animation: marquee 12s linear infinite;
}

.animate-marquee-reverse {
  animation: marquee-reverse 12s linear infinite;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% auto;
  animation: gradientAnimation 3s linear infinite;
}
